<ion-view view-title="Hora da Carona">
  <ion-content class="padding">
    <h2>Bem-vindo ao projeto Hora da Carona!</h2>
    <div>
    <h4>
    Este é um projeto que visa a ajuda geral de quem precisa chegar a algum lugar, seja para estudar ou trabalhar.
    </h4>
    </div>
    <p>Este projeto foi desenvolvido para pessoas que tem algum automóvel e tem "vagas" disponíveis nele e para pessoas que precisam das vagas disponíveis que as pessoas tem em seus automóveis.</p>
    <p>
      Em resumo "todos" ganham com isso, pois os donos dos automóveis pode "negociar" uma ajuda de custo para dá a carona, como por exemplo ajudar a "rachar" a gasolina do carro. Com isso teríamos menos trânsito, visto que teríamos menos automóveis nas ruas. Teríamos menos pessoas superlotando os ônibus e ainda estaríamos unindo as pessoas.
    </p>
    <p>
      Lembramos que os donos dos automóveis não são obrigados a darem carona, tão pouco as pessoas são obrigadas a aceitar somente aquela opção, tendo em vista que teremos várias opções.
    </p>
    <p>
      Se você precisar tirar qualquer dúvida com o dono do automóvel ou com outras pessoas sobre aquele dono, será possível ler e comentar em cada "postagem" dos automóveis. E caso você goste do "serviço", não esqueça de curtir, clicando no botão Apoiar \O/
    </p>
    <p>
      Estamos feliz por você estar participando do nosso aplicativo, boa sorte.
    </p>
    <p><small>Universidade Federal de Pernambuco<br>Núcleo de Tecnologia da Informação<br>Responsável: Diego Holanda</small></p>
  </ion-content>
</ion-view>